# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class$

# C extensions
*.so
*.pyd

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
*.spec
/dist/  # Explicitly ignore dist folder within project
/build/ # Explicitly ignore build folder

# Virtual Environments
venv/    # Ignore the specific name you use
.venv/
env/
.env/
# ... (other venv patterns)

# Logs and user data (Good practice to ignore these in repo)
logs/
user_data/ # If using this fallback
*.log
# Don't commit history or downloaded models to Git
reports/scan_history.json # Adjust path if saved elsewhere by appdirs
reports/thumbnails/
models/run_*/ # Ignore training run outputs
models/best_model*.pth # Ignore specific models in source
models/final_model*.pth
optimal_threshold_*.json # Ignore timestamped thresholds

# IDE / Editor specific files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Other
.DS_Store # macOS specific
Thumbs.db # Windows specific